<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/4.2.1/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    <title>User page</title>
</head>
<body>

<!-- Navbar -->
<nav class="navbar  navbar-expand-md bg-dark navbar-dark sticky-top text-white">

    <div class="container-fluid">
        <a class="navbar-brand" href="#">Project name</a>
    </div>

    <li class="nav">
        <a class="nav-link text-white" id="link-logout" th:href="@{/logout}">Logout</a>
    </li>
</nav>

<!-- body -->
<div class="container-fluid my-container">
    <div class="row my-row">

        <div class="col-lg-2 col-md-2 my-col">

            <div class="list-group-flush ">
                <a th:href="@{/admin}" class="btn btn-outline-primary btn-lg btn-block my-btn" role="button"
                   aria-pressed="true" id="admin-btn">Admin</a>
            </div>
            <div class="list-group-flush ">
                <a th:href="@{/user}" class="btn btn-outline-primary btn-lg btn-block my-btn" role="button"
                   aria-pressed="true">User</a>
            </div>
        </div>

        <div class="col-lg-10 col-md-10 tx-col">
            <!--подставить надпись через addAttribute()-->
            <div class="text-page">
                <h1>User page</h1>
                <p></p>
                <p> Hello <span id="email"></span> !</p>
            </div>

        </div>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/user.js"></script>
<script type="text/javascript" src="/js/cookie.js"></script>
<script type="text/javascript" src="/js/redirect.js"></script>
</body>
</html>
